.sliderbar {
    position: fixed;
    right: 2%;
    bottom: 25%;
}

.sliderbar ul li {
    list-style-type: none;
    margin-bottom: 30%;
}

.sliderbar ul li a {
    display: inline-block;
    /*width: 200%;*/
    /*height: 35px;*/
    border: 1px solid black;
    text-decoration: none;
    background-color: #e1dbdb30;
    border-color: #00000017;
}

.sliderbar ul li a.gotop {
    display: none;
}

.sliderbar ul li a:hover {
    text-decoration: none;
}

.sliderbar ul li a i {
    font-size: 35px;
    color: #80808063;
    font-weight: bold;
}

body {
    background-color: #f8fafc;
}

.cartmain {
    margin: 40px 0;
}

.cartmain .cart-course {
    width: 100%;
}

.cartmain .main .footer.main-top {
    margin: 3% auto;
    border-bottom: none;
}

.cartmain .footer div {
    margin-right: 5%;
    width: 13%;
}

.cartmain .footer div .money {
    color: red;
    margin-left: 10%;
    font-weight: bold;
}

.cartmain .footer a {
    display: inline-block;
    width: 15%;
    height: 54px;
    background-color: #F01414;
    color: white;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.cartmain .footer a:hover {
    text-decoration: none;
}

.cartmain .main p.none {
    width: 100%;
    text-align: center;
    margin-top: 13%;
    font-size: 17px;
    color: grey;
}

.cartmain .main .show.main-top {
    height: 120px;
}

.cartmain .main .show img {
    width: 30%;
    height: 90px;
}

.cartmain .cart-course a {
    text-decoration: none;
}

.cartmain .cart-course a:hover {
    text-decoration: none;
}

.cartmain .cart-course p {
    width: 56%;
    position: relative;
    top: -80px;
    left: 31%;
}

.cartmain .main .main-top.show li:nth-child(3) {
    margin-left: -25%;
    margin-top: 1%;
    color: red;
}

.cartmain .main .main-top.show.first li:nth-child(3) {
    margin-top: 3%;
}

.cartmain .main .main-top.show li:nth-child(4) {
    margin-left: -2%;
    margin-top: 1%;
    color: grey;
}

.cartmain .main .main-top.show.first li:nth-child(4) {
    margin-top: 3%;
}

.cartmain .main .main-top.show li:nth-child(4) a {
    text-decoration: none;
    color: grey;
}

.cartmain .main .main-top.show li:nth-child(4):hover a {
    text-decoration: none;
    color: black;
}

.cartmain .main {
    width: 80%;
    margin: auto;
    min-height: 300px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: -2%;
}

.cartmain .main .main-ul li.main-info {
    height: 150px;
}

.cartmain .main div.main-top {
    width: 90%;
    margin: 0 auto;
}

.cartmain .main .main-top {
    border-bottom: 1px solid #80808030 ;
}

.cartmain .main .main-top li {
    padding: 4% 1%;
}

.cartmain .main .main-top .top li:nth-child(1) {
    position: relative;
    top: -2px;
    width: 15%;
}

.cartmain .main .main-top li:nth-child(1) span.layui-icon {
    border: 2px solid #b7bbbf;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: white;
}

.cartmain .main-top li:nth-child(1) span.cli {
    background-color: red;
    border-color: red !important;
}

.cartmain .main .main-top li:nth-child(1) span:hover {
    cursor: pointer;
}

.cartmain .main .main-top li:nth-child(3) {
    margin-left: 48%;
}

.cartmain .main .main-top li:nth-child(4) {
    margin-left: 15%;
}

.cartmain header {
    padding: 6%;
    background: url(/images/welcome/order/cart-header-bg.jpg) repeat-x left bottom;
    height: 150px;
}

.cartmain header h1 {
    width: 40%;
}

.cartmain header span {
    font-size: 16px;
    margin-left: 1%;
}

.cartmain header p {
    margin-top: 2%;
    text-decoration: none;
}

.cartmain header p:hover a {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.89);
}

.cartmain .show ul li:nth-child(2) {
    width: 81%;
    margin-top: -4%;
    margin-left: 6%;
}

.cartmain .first ul li:nth-child(2) {
    margin-top: -2%;
}

footer.footer {
    background-color: #000000;
    width: 100%;
}

footer.footer .webmap, footer.footer .link, footer.footer .copyright {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1%;
}

footer.footer h4 {
    color: white;
}

footer.footer ul {
    margin-left: 1%;
}

footer.footer ul li {
    margin: 1%;
}

footer.footer ul li a {
    color: #c8cdd2ad;
    font-size: 14px;
    text-decoration: none;
}

footer.footer ul li a:hover {
    color: #c8cdd2;
    text-decoration: none;
}

footer.footer .copyright {
    margin-top: -1%;
}

footer.footer .copyright h5 {
    color: #787d82c7;
}