<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="/layui-admin/css/font_eolqem241z66flxr.css"/>
    <link rel="stylesheet" href="/css/sysconfig/tutor/mypublish.css"/>
</head>
<body class="childrenBody">
<!-- 内容主体区域 -->
<div style="padding: 15px; margin-left: 7%;">
    <ul class="layui-timeline">
        <!--<li class="layui-timeline-item">-->
            <!--<i class="layui-icon layui-timeline-axis">&#xe63f;</i>-->
            <!--<div class="layui-timeline-content layui-text">-->
                <!--<h3 class="layui-timeline-title">2018年8月</h3>-->
                <!--<div class="publog clearfix">-->
                    <!--<div class="pull-left">-->
                        <!--<a href="/forward_con/showcourse?id=3" target="_blank">-->
                            <!--<img src="/images/user/course/timg.jpg" />-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="pull-left">-->
                        <!--<div class="main-show">-->
                            <!--<p class="main-top">小学数学从入门到精通</p>-->
                            <!--<p class="ctime">发布于: 2018-03-24 07:02:25</p>-->
                            <!--<p class="viscount count"><span>12</span>人浏览</p>-->
                            <!--<p class="comcount count"><span>12</span>条评论</p>-->
                            <!--<p class="buycount count"><span >12</span>人购买</p>-->
                            <!--<p class="score">评分：<span class="glyphicon glyphicon-star"></span></p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>

</div>

<script src="/js/custom/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/sysconfig/tutor/mypublish.js"></script>
</body>
</html>