body{
    font-size: 16px;
}

#allcommand .getmore{
    text-align: center;
    /*display: none;*/
}
#allcommand .getmore a{
    color: #2abfeb;
    text-decoration: none;
}
#allcommand .getmore a:hover{
    text-decoration: none;
    color: #10b4e5;
}



#coursedesc .descmain{
    width: 70%;
    margin: 2% auto;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.05);
    padding: 1%;
}
#coursedesc ul li{
     margin: 1% 0;
}
#coursedesc ul li:nth-child(2), #coursedesc ul li:nth-child(3){
    margin: 3% 0;
}
#coursedesc ul li:nth-child(1) div a{
    margin-left: 2%;
    display: inline-block;
    width: 20%;
    margin-top: 1%;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.77);
}
#coursedesc ul li:nth-child(1) div a img{
    margin-right: 1%;
}
#coursedesc ul li:nth-child(1) div a:hover{
    text-decoration: none;
}
#coursedesc h4{
    font-weight: bold;
}
#coursedesc img.userface{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#coursedesc p{
    width: 90%;
    margin: 1% auto;
}
#coursedesc p.none{
    color: #808080a1;
    text-align: center;
}


.cscore a {
    text-decoration: none;
}

.cscore a:hover {
    text-decoration: none;
    color: #333;
}

.cscore a.uns:hover {
    color: red;
}

.cscore a.se {
    color: red;
}

.cscore span.do-good {
    margin: 0 1%;
}

.com-main .score {
    margin-top: 10px;
    text-align: center;
}

.com-main .score span.glyphicon-star-empty {
    color: #808080ad;
}

.com-main .score span.glyphicon-star {
    color: #ff9900;
}

.com-main .score span:hover {
    cursor: pointer;
}

#tutorinfo .info-main {
    width: 80%;
    margin: auto;
    background: #f3f5f7;
}

#tutorinfo .info-main ul {
    width: 86%;
    margin: 5% auto;
    padding: 3% 0px;
}

#tutorinfo .info-main ul li:nth-child(1) {
    background: url("/images/user/face/bg.png") no-repeat center center;
    background-size: 100% 100%;
    width: 20%;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 3%;
}

#tutorinfo .info-main ul li:nth-child(2) {
    width: 70%;
}

#tutorinfo .info-main ul li .main {
    margin-left: 3%;
}

#tutorinfo .info-main ul li .main h3 {
    color: #f01a1a;
    margin: 15px 0;
}

#tutorinfo .info-main ul li .main h5 {
    margin-bottom: 10px;
    font-weight: bold;
}

#tutorinfo .info-main ul li .main p {
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 20px;
}

#coursechapter .chapter {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #80808078;
}

#coursechapter .chapter span.layui-icon {
    font-size: 2em;
    transform: rotate(90deg);
    display: inline-block;
    color: black;
    position: relative;
    top: 20px;
}

#coursechapter .chapter h4 {
    position: relative;
    left: 7%;
    top: -18px;
    font-weight: 700;
    width: 90%;
}

#coursechapter .chapter p {
    position: relative;
    left: 7%;
    top: -14px;
    width: 90%;
}

#usercommand .pageshow {
    text-align: center;
}

#usercommand .msg {
    position: relative;
}

#usercommand .msg a:nth-child(1) {
    position: relative;
}

#usercommand .msg a.sub {
    display: inline-block;
    background: #f83636d6;
    width: 8%;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #ffffffb5;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 15%;
}

#usercommand .msg a.sub:hover {
    color: white;
    background: red;
    text-decoration: none;
}

#usercommand .msg a.ret {
    width: 4%;
    height: 27px;
    line-height: 27px;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 30%;
    text-decoration: none;
    position: absolute;
    right: 0;
    opacity: 0;
    display: none;
}

#usercommand .msg a:hover {
    text-decoration: none;
}

#usercommand .com-main {
    width: 90%;
    margin: 3% auto;
}

#usercommand .com-main .none {
    text-align: center;
    color: #808080ba;
}

#usercommand .com-main ul {
    margin-bottom: 3%;
}

#usercommand .com-main ul li:nth-child(1) {
    background: url(/images/user/face/bg.png) no-repeat center center;
    background-size: 100% 100%;
    width: 48px;
    height: 48px;
    margin: 0 2%;
}

#usercommand .com-main ul li:nth-child(2) {
    width: 88%;
}

#usercommand .com-main .main-top {
    color: #93999f;
}

#usercommand .com-main .main-top span {
    color: #ff9900;
}

#usercommand .com-main .main-show .main-info {
    margin: 1% 0 2% 0;
}

#usercommand .com-main .main-show .ctime {
    margin-bottom: 2%;
    color: #93999f;
    font-size: 12px;
}

#usercommand .com-main .main-show .main-reply {
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 12px;
    line-height: 24px;
}

#usercommand .com-main .main-show .main-reply .reply {
    color: #f01414;
}

#usercommand .com-main .main-show .main-reply .reply span {
    color: #787d82;
}

#usercommand #mycommand p.none {
    clor: grey;
    text-align: center;
}

#usercommand #mycommand p.none a {
    color: red;
    text-decoration: none;
}

#usercommand #mycommand p.command {
    width: 50%;
    margin: auto;
    border: 1px solid red;
    text-align: left;
    padding: 3px 5px;
    height: 127px;
    color: grey;
    border-radius: 5%;
}

#usercommand #mycommand p.info {
    width: 23%;
    margin-left: 49%;
    position: relative;
    top: 6px;
    color: red;
}

#usercommand #mycommand button {
    width: 8%;
    margin-left: 67%;
}

#usercommand p.msg {
    width: 90%;
    margin: auto;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #80808054;
}

#usercommand p.msg span {
    color: red;
}

.coursecontainer .nav-tabs {
    border-bottom: none;
}

#usercommand .header ul {
    position: relative;
    width: 90%;
    margin: 4% auto;
    margin-bottom: 3%;
}

#usercommand .header ul li {
    width: 33%;
    background-color: #f3f5f7;
    border-right: 1px dashed black;
}

#usercommand .header ul li:nth-child(3) {
    border-right: none;
}

#usercommand .header ul li .hot-bg {
    background: url("/images/welcome/classify/hot_com.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 72px;
    height: 72px;
    font-size: 1em;
    color: #fff;
    padding: 18px;
    font-weight: 200;
    text-align: center;
    box-sizing: border-box;
    line-height: 18px;
}

#usercommand .header ul li div.face {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background: url(/images/user/face/bg.png) no-repeat center center;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 3%;
}

#usercommand .header ul li h5 {
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}

#usercommand .header ul li p.star {
    text-align: center;
    position: relative;
    top: 4px;
}

#usercommand .header ul li p.star span {
    color: #ff9900;
    font-size: 12px;
}

#usercommand .header ul li .info p {
    margin: 8px auto;
    width: 210px;
    height: 196px;
    font-size: 14px;
    line-height: 28px;
    color: #4d555d;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}


.sliderbar {
    position: fixed;
    right: 2%;
    bottom: 25%;
}

.sliderbar ul li {
    list-style-type: none;
    margin-bottom: 30%;
}

.sliderbar ul li a {
    display: inline-block;
    /*width: 200%;*/
    /*height: 35px;*/
    border: 1px solid black;
    text-decoration: none;
    background-color: #80808030;
    border-color: #0000004d;
}

.sliderbar ul li a.gotop {
    display: none;
}

.sliderbar ul li a:hover {
    text-decoration: none;
}

.sliderbar ul li a i {
    font-size: 35px;
    color: #808080a3;
    font-weight: bold;
}

.coursecontainer .bar {
    width: 44%;
    margin: auto;
}

.coursecontainer .bar ul li {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 25%;
    margin: 3% 0;
}

.coursecontainer .bar ul li a {
    display: inline-block;
    height: 35px;
    text-decoration: none;
}

.coursecontainer .bar ul li a:hover {
    text-decoration: none;
}

.coursecontainer .bar ul li span {
    position: relative;
    top: -17%;
    left: -4%;
    color: #80808094;
}

.coursecontainer {
    margin-top: 70px;
}

.coursecontainer .container-top {
    height: 400px;
    background-color: #0f37ecb0;
    padding: 2% 0;
    position: relative;
    /*background: url("/images/user/course/math.png") no-repeat center center; background-size: contain;*/
}

.coursecontainer .container-top .collect {
    margin-right: 3%;
    margin-top: 30px;
}

.coursecontainer .container-top .collect a {
    color: #ffffff8a;
    font-size: 14px;
}

.coursecontainer .container-top .collect a:hover {
    color: white;
    text-decoration: none;
}

.coursecontainer .container-top .collect.col a {
    color: white;
    font-size: 14px;
}

.coursecontainer .container-top .title {
    width: 21%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffffeb;
    margin-top: 5%;
}

.coursecontainer .container-top .info {
    width: 50%;
    margin: 1.5% auto;
}

.coursecontainer .container-top .info ul li {
    border-right: 1px solid #ffffff82;
    color: #ffffffeb;
    width: 25%;
    margin-left: 4%;
    font-size: 1.3rem;
}

.coursecontainer .container-top .info ul li:nth-child(1) p {
    position: relative;
    left: 15%;
}

.coursecontainer .container-top .sale p {
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    color: red;
    font-weight: 600;
    text-align: center;
    margin-top: 2%;
}

.coursecontainer .container-top .sale div {
    text-align: center;
    margin-top: 3%;
}

.coursecontainer .container-top .sale div a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
}

.coursecontainer .container-top .sale div .buynow {
    width: 10%;
    background-color: #d31616;
    border: 1px solid #d31616;
    color: #ffffffc9;
    text-align: center;
}

.coursecontainer .container-top .sale div .addcart {
    width: 4%;
    background-color: #dd2020;
    border: 1px solid #dd2020;
    text-align: center;
    position: relative;
    left: -1%;
    color: #ffffffc7;
}

.coursecontainer .container-top .sale div a:hover {
    text-decoration: none;
    color: white;
}

footer.footer {
    background-color: #000000;
    width: 100%;
}

footer.footer .webmap, footer.footer .link, footer.footer .copyright {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1%;
}

footer.footer h4 {
    color: white;
}

footer.footer ul {
    margin-left: 1%;
}

footer.footer ul li {
    margin: 1%;
}

footer.footer ul li a {
    color: #c8cdd2ad;
    font-size: 14px;
    text-decoration: none;
}

footer.footer ul li a:hover {
    color: #c8cdd2;
    text-decoration: none;
}

footer.footer .copyright {
    margin-top: -1%;
}

footer.footer .copyright h5 {
    color: #787d82c7;
}