body{
    background-color: #F0F0F0;
}
*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}
a:hover{color:red;text-decoration:none;}
#blog{
    width: 65%;
    overflow: hidden;
    margin: 0 auto;
}
#blog ul{
    list-style-type: none;
}
#blog ul li{
    background-color: white;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}
.blog-left{
    float: left;
    width: 650px;
    overflow: hidden;

}
.blog-right{
    float: left;
    margin-left: 10px;

    width: 280px;
    overflow: hidden;
}
.blog-right img{
    width: 280px;
    height: 200px;
}
#blog .title{
    text-decoration:none;
    font-size: 26px;
}
.blog-left p{
    color: gray;
}
.blog-left img{
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.page{
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5%;
}
.page a{
    border: 1px solid #71b0bb;
    text-decoration: none;
    margin: 5px;
    padding: 5px 10px;
}
.page a:link,.page a:visited{
    color: #000000;
}
.page a:hover,.page a:active{
    color: #FFF;
    background-color: #bbac5c;
}
#blog-content{
    width: 940px;
    overflow: hidden;
    padding: 30px;
    background-color: white;
    margin: 0 auto;
    border-top: 2px solid #e2b709;
    margin-top: 30px;
}
#blog-content p{
    color: black;
}
#blog-content img{
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}


.pubdiscuss{
    width: 67%;
    margin: 0 auto;
    margin-top: 10px;
}
.pubdiscuss h4, .finddiscuss h4, #blog h4{
    padding-left: 5px;
    margin-left: 1.5%;
    border-left: 2px solid #005eff6b;
}
#blog h4{
    margin-left: 0;
}
.pubdiscuss form p{
    height: 120px;
}
.pubdiscuss form .errinfo{
    display: none;
}
.pubdiscuss form .errinfo p{
    height: 0;
    color: red;
}
.pubdiscuss form div.form-group{
    margin-top: -2%;
    margin-left: 0;
    margin-right: 2.5%;
}
.pubdiscuss form div.form-group:nth-child(1){
    margin-top: 0;
}
.pubdiscuss form div:nth-child(2){
    margin-right: 2.5%;
    margin-top: -2%;
}

.finddiscuss{
    width: 67%;
    margin: 0 auto;
    margin-top: -10px;
}
.finddiscuss form{
    margin-left: 16%;
}
.finddiscuss form div:nth-child(2){
    margin-left: 2%;
}
.finddiscuss form div:nth-child(2) button{
    letter-spacing: 10px;
    padding-left: 20px;
}

div.form-group p{
    overflow: hidden;
}


#jsi-particle-container{
    width: 100%;
    height: 200px;
    margin-top: 70px;
    padding: 0;
    background-color: #000000;
}


.personal{
    position: absolute;
    top: 300px;
    right: 0;
    width: 13%;
    margin: 0 2%;
    overflow: hidden;
    background-color: white;
    display: none;
}
.personal h5{
    background-color: #f5f5f5;
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    margin-top: -1%;
}
.personal ul{
    text-align: center;
    margin: 5% 0;
}
.personal img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.personal p.username{
    margin-top: 2%;
    color: red;
}
.personal p.pubinfo{
    margin-top: 2%;
}
.personal p span{
    display: inline-block;
    width: 15%;
}


 #pubModal div.modal-body div.col-lg-8{
    margin-top: 5%;
}
 #pubModal div.modal-body div.col-lg-8:nth-child(1){
     margin-top: 0;
 }
#pubModal div.modal-body div.col-lg-8 img{
    height: 200px;
}
#pubModal div.modal-body input, #pubModal div.modal-body select, #pubModal div.modal-body img{
    margin-left: 27%;
}
#pubModal .modal-body p.errinfo{
    display: none;
    color: red;
}