.sliderbar {
    position: fixed;
    right: 2%;
    bottom: 25%;
}

.sliderbar ul li {
    list-style-type: none;
    margin-bottom: 30%;
}

.sliderbar ul li a {
    display: inline-block;
    /*width: 200%;*/
    /*height: 35px;*/
    border: 1px solid black;
    text-decoration: none;
    background-color: #80808030;
    border-color: #0000004d;
}

.sliderbar ul li a.gotop {
    display: none;
}

.sliderbar ul li a:hover {
    text-decoration: none;
}

.sliderbar ul li a i {
    font-size: 35px;
    color: #808080a3;
    font-weight: bold;
}


div.container .m-main .main-right footer {
    padding-left: 5%;
    display: none;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    height: 100px;
    border-top: 1px solid #d9dde1;
    padding-top: 5%;
}

div.container .m-main .main-right footer input.info-btn {
    margin-left: 5%;
    width: 80%;
    width: 16%;
    height: 35px;
    background-color: #008cc854;
    color: #fff;
    border: 1px solid;
    line-height: 35px;
}

div.container .m-main .main-right footer input.info-btn.cli {
    background-color: #008cc8;
}

div.container .m-main .main-right footer input.info-btn:hover {
    background-color: #008cc8;
}

div.container .m-main .main-right footer input.info-btn:nth-child(4) {
    display: none;
    background-color: #008cc8;
}

div.container .m-main .main-left {
    height: 480px;
    overflow: auto;
}

div.container .m-main .main-right .right-show {
    height: 480px;
    overflow: auto;
    margin-top: 2%;
    display: none;
}

div.container .m-main .main-right .main-show.show-right {
    margin-left: 16%;
}

div.container .m-main .main-right .main-show.show-right ul li pre.main-info {
    background-color: #41c8b6;
    color: #fff;
}

div.container .m-main .main-right .main-show {
    width: 80%;
    margin: 6% 4%;
    position: relative;
}

div.container .m-main .main-right .main-show ul li a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

div.container .m-main .main-right .main-show ul li:nth-child(2) {
    max-width: 64%;
    background: #fff;
    border: 1px solid white;
    border-radius: 3%;
    margin-left: 1%;
}

div.container .m-main .main-right .main-show ul li pre.main-info {
    background-color: #fff;
    color: #1F2427;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
}

div.container .m-main .main-right .main-show.show-left.unread ul li pre.main-info {
    background-color: #c44343;
    color: #ffffffc7;
}

div.container .m-main .main-right .main-show ul li:nth-child(3) {
    margin-left: 1%;
}

div.container .m-main .main-right .main-show ul li p.main-time {
    font-size: 12px;
    text-shadow: 1px 1px 0 #FFF;
    margin-top: 1%;
    color: #919496;
}

div.container .m-main .main-right .main-show ul li:nth-child(4) {
    margin-top: 5%;
    display: none;
    position: absolute;
    top: -20%;
    right: -8%;
}

div.container .m-main .main-right .main-show ul li:nth-child(4) a span {
    color: #80808061;
    font-size: 27px;
}

div.container .m-main .main-right .main-show ul li:nth-child(4) a.cli span {
    color: red;
}

div.container .m-main .main-right .main-show ul li:nth-child(4):hover a span {
    color: red;
}

div.container .m-main .main-right .main-show ul li:nth-child(4):hover a {
    text-decoration: none;
}

div.container .m-main .main-right .main-show ul li:nth-child(4) a {
    text-decoration: none;
}

/**#b7bbbf**/
div.container .m-main {
    height: 600px;
    background-color: #dfe3e6;
    margin-top: 1%;
}

div.container .m-main .main-right {
    background-color: #f3f5f7;
    width: 72%;
    height: 100%;
    position: relative;
}

div.container .m-main .main-left {
    width: 28%;
    height: 100%;
}

div.container .m-main .main-left .left-search {
    width: 85%;
    margin: auto;
}

div.container .m-main .main-left .left-search input {
    background: #dfe3e6;
    border: none;
    margin-top: 7%;
    margin-left: 2%;
    font-size: 15px;
}

div.container .m-main .main-left .left-hr {
    width: 90%;
    height: 1px;
    background: #c3c7ca;
    margin: auto;
    margin-top: 2%;
}

div.container .m-main .main-left .left-show {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #c3c7ca;
    height: 80px;
}

div.container .m-main .main-left .left-show.cli {
    background-color: #f3f5f7;
}

div.container .m-main .main-left .left-show:hover {
    background-color: #f3f5f7;
    cursor: pointer;
}

div.container .m-main .main-left .left-show img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 9%;
}

div.container .m-main .main-left .left-show .show-info {
    position: relative;
    top: -48%;
    left: 22%;
    width: 83%;
}

div.container .m-main .main-left .left-show .show-info h5 {
    font-size: 20px;
    font-weight: bold;
}

div.container .m-main .main-left .left-show .show-info h5 span {
    font-size: 14px;
    font-weight: normal;
    color: red;
    position: relative;
    bottom: 3px;
    left: 3px;
}

div.container .m-main .main-left .left-show .show-info p {
    font-size: 12px;
    color: #93999f;
    width: 78%;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: eclipse;
}

div.container {
    margin-top: 90px;
}

div.container header {
    padding: 0 1%;
}

div.container header ul li a {
    color: grey;
    text-decoration: none;
}

div.container header ul li:nth-child(1) a {
    color: red;
}

div.container header ul li:nth-child(2) {
    margin-left: 5%;
}

div.container header ul li {
    font-size: 16px;
}

div.container header ul li a:hover {
    color: red;
    text-decoration: none;
}

footer.footer {
    background-color: #000000;
    width: 100%;
}

footer.footer .webmap, footer.footer .link, footer.footer .copyright {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1%;
}

footer.footer h4 {
    color: white;
}

footer.footer ul {
    margin-left: 1%;
}

footer.footer ul li {
    margin: 1%;
}

footer.footer ul li a {
    color: #c8cdd2ad;
    font-size: 14px;
    text-decoration: none;
}

footer.footer ul li a:hover {
    color: #c8cdd2;
    text-decoration: none;
}

footer.footer .copyright {
    margin-top: -1%;
}

footer.footer .copyright h5 {
    color: #787d82c7;
}
