<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>勤成聊天室------勤成家教网</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/sysconfig/admin/websocket.css" />
    <link rel="shortcut icon" href="/images/logo/web_logo.ico" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <p class="text-center text-info clearfix">勤成网聊天系统--powered by websocket</p>
    <p class="text-center p-info" style="color: red;"></p>
</div>
<div class="container">
    <div class="m-main"></div>
    <div class="m-write">
        <p class="p-msg" contenteditable="true"></p>
        <button class="btn btn-primary">发送</button>
    </div>
</div>
<script src="/js/common/jquery.min.js"></script>
<script src="/js/sysconfig/admin/websocket.js"></script>
</body>
</html>