<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>勤成家教网----邮箱注册验证中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/images/logo/web_logo.ico" />
    <link rel="stylesheet" href="/css/register/check.css" />
</head>
<body>
    <div>
        <p><i class="layui-icon"></i>已发送注册验证邮件到您的邮箱里</p>
        <p>没有收到？<a href="javascript:void(0)" class="resend">点击重发</a></p>
        <p>稍后验证，<a href="/forward_con/gologin">返回登录</a></p>
        <p>我已验证，<a href="/forward_con/register_info">点击刷新</a></p>
    </div>

    <!--jquery-->
    <script src="/js/common/jquery.min.js"></script>

    <!--my js-->
    <script src="/js/register/mine/check.js"></script>
</body>
</html>