<!DOCTYPE html>
<html>
<head>
    <title>勤成家教网---我的课程</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--LOGO-->
    <link rel="shortcut icon" href="/images/logo/web_logo.ico"/>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css"/>
    <!--LAYUI-->
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'/>
    <!--my css-->
    <link rel="stylesheet" href="/css/welcome/personal/style.css" media="all"/>
    <link rel="stylesheet" href="/css/welcome/mycourse.css" />
</head>
<body>

<!--头部-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="padding-top: 13px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/forward_con/welcome">勤成家教网</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" style="">
            <ul class="nav navbar-nav">
                <li style="margin:0 10px;" class="active"><a href="/forward_con/welcome">首页</a></li>
                <li style="margin:0 10px;"><a href="/forward_con/classify">分类</a></li>
                <li style="margin:0 10px;"><a href="/forward_con/gabble" target="_blank">论坛中心</a></li>
                <li style="margin:0 10px;"><a href="/forward_con/gorank">勤成榜</a></li>
                <li style="margin:0 10px;"><a href="/forward_con/contact">联系我们</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
<!-- banner-body -->
<div class="banner-body custom">
    <div class="container">
        <div class="banner-body-content">
            <div class="col-xs-3 banner-body-left">
                <div class="logo" title="点击放大我的头像" data-imgsrc="" data-oldimgsrc="">
                    <a href="javascript:void(0);">更改头像</a>
                </div>
                <!--侧边栏导航-->
                <div class="top-nav">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <nav class="stroke">
                                <ul class="nav navbar-nav">
                                    <li class="active custom"><a href="javascript:void(0)" data-type="history">课程记录</a>
                                    </li>
                                    <li class="custom"><a href="javascript:void(0);" data-type="command"
                                                          class="hvr-underline-from-left">我的评论</a></li>
                                    <li class="custom"><a href="javascript:void(0);" data-type="collect"
                                                          class="hvr-underline-from-left">我的收藏</a></li>
                                </ul>
                            </nav>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-xs-9 banner-body-right infobox">
                <!--课程记录-->
                <div class="logdiv historydiv box">
                    <header>
                        <span>我的课程记录</span>
                    </header>
                    <hr/>
                    <p class="msg">我最近浏览的全部课程
                        <a href="javascript:void(0);" title="点击关闭提示"><i class="layui-icon">&#x1006;</i></a>
                    </p>
                    <div class="maininfo"></div>
                </div>
                <!--我的收藏-->
                <div class="collectdiv box">
                    <header>
                        <span>我的课程收藏</span>
                    </header>
                    <hr/>
                    <!--<div class="none">-->
                    <!--<p>暂未收藏课程</p>-->
                    <!--</div>-->
                    <ul class="layui-timeline"></ul>
                </div>
                <!--我的评论-->
                <div class="commanddiv box">
                    <header>
                        <span>我的课程评论</span>
                    </header>
                    <hr />
                    <div class="maininfo clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--页脚-->
<footer class="footer">
    <br/>
    <!--网站地图-->
    <div class="webmap">
        <h4>网站地图:</h4>
        <ul class="clearfix">
            <li class="pull-left">
                <a href="/forward_con/welcome">网站首页</a>
            </li>
            <li class="pull-left">
                <a href="/forward_con/classify">家教分类</a>
            </li>
            <li class="pull-left">
                <a href="/forward_con/gabble">用户经验总结</a>
            </li>
            <li class="pull-left">
                <a href="/forward_con/gorank">勤成家教榜</a>
            </li>
            <li class="pull-left">
                <a href="/forward_con/contact">联系我们</a>
            </li>
            <li class="pull-left">
                <a href="/personalpage_con/personal">个人信息</a>
            </li>
        </ul>
    </div>
    <!--友情链接-->
    <div class="link">
        <h4>友情链接:</h4>
        <ul class="clearfix">
            <li class="pull-left">
                <a href="">CSDN博客</a>
            </li>
            <li class="pull-left">
                <a href="">前端网</a>
            </li>
            <li class="pull-left">
                <a href="">慕课网</a>
            </li>
            <li class="pull-left">
                <a href="">牛客网</a>
            </li>
            <li class="pull-left">
                <a href="">模板之家</a>
            </li>
            <li class="pull-left">
                <a href="">Bootstrap</a>
            </li>
            <li class="pull-left">
                <a href="">LayUI</a>
            </li>
            <li class="pull-left">
                <a href="">知乎</a>
            </li>
            <li class="pull-left">
                <a href="">简书</a>
            </li>
            <li class="pull-left">
                <a href="">脚本之家</a>
            </li>
            <li class="pull-left">
                <a href="">码农网</a>
            </li>
            <li class="pull-left">
                <a href="">博客园</a>
            </li>
            <li class="pull-left">
                <a href="">CSS探索之旅</a>
            </li>
            <li class="pull-left">
                <a href="">苏文宅博客</a>
            </li>
            <li class="pull-left">
                <a href="">爱前端网</a>
            </li>
            <li class="pull-left">
                <a href="">CSS3按钮特效</a>
            </li>
            <li class="pull-left">
                <a href="">ProcessOn</a>
            </li>
            <li class="pull-left">
                <a href="">5iweb</a>
            </li>
        </ul>
    </div>
    <!--慕课网抄袭而来的copyright-->
    <div class="copyright">
        <h5>Copyright © 2018 imooc.com All Rights Reserved | 京ICP备 13046642号-2</h5>
    </div>
    <br/>
</footer>

<!--遮罩层-->
<div class="zhezhao"></div>

<!--点击头像放大弹出层-->
<div class="showbig bigface">
    <div class="main">
        <a href="javascript:void(0);" class="close">
            <i class="layui-icon">&#x1006;</i>
        </a>
        <h4>我的头像</h4>
        <img src="" class="bigimg"/>
    </div>
</div>

<!--更改头像弹出层-->
<div class="modface bigface">
    <div class="main">
        <a href="javascript:void(0);" class="close">
            <i class="layui-icon">&#x1006;</i>
        </a>
        <h4>更换头像</h4>
        <div class="show" data-imgsrc="null"></div>
        <div class="modlink">
            <ul class="clearfix">
                <li class="pull-left">
                    <a href="javascript:void(0);" class="rand">我帮你换</a>
                </li>
                <li class="pull-left">
                    <a href="javascript:void(0);" class="hand">上传头像</a>
                    <input type="file" accept="image/gif, image/png, image/jpg, image/jpeg"/>
                </li>
            </ul>
        </div>
        <div class="sublink">
            <ul class="clearfix">
                <li class="pull-left">
                    <a href="javascript:void(0);" class="submit">确定</a>
                </li>
                <li class="pull-left">
                    <a href="javascript:void(0);" class="reset">取消</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--编辑个人信息弹出层-->
<div class="modinfo bigface" id="modinfo">
    <div class="main">
        <a href="javascript:void(0);" class="close">
            <i class="layui-icon">&#x1006;</i>
        </a>
        <header>
            <span>基本信息设置</span>
        </header>
        <hr/>
        <div class="maininfo">
            <ul>
                <li>
                    <label for="username">用户名</label>
                    <input type="text" name="username" class="username" readonly="readonly"/>
                </li>
                <li>
                    <label for="username">昵称</label>
                    <input type="text" name="nickname" class="nickname"/>
                </li>
                <li>
                    <label for="username">性别</label>
                    <label class="sexlabel">
                        <input type="radio" name="sex" class="sex male" value="1"/>男
                    </label>
                    <label class="sexlabel">
                        <input type="radio" name="sex" class="sex female" value="0"/>女
                    </label>
                </li>
                <li>
                    <label for="username">年龄</label>
                    <input type="number" name="age" class="age"/>
                </li>
                <li>
                    <label for="info">个人描述</label>
                    <p class="info" name="info" contenteditable="true"></p>
                </li>
            </ul>
        </div>
        <div class="sublink">
            <ul class="clearfix">
                <li class="pull-left">
                    <a href="javascript:void(0);" class="submit">提交</a>
                </li>
                <li class="pull-left">
                    <a href="javascript:void(0);" class="reset">取消</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--侧边栏-->
<div class="sliderbar">
    <ul>
        <li>
            <a href="javascript:void(0)" title="返回顶部" class="gotop">
                <i class="layui-icon">&#xe619;</i>
            </a>
        </li>
        <li>
            <a href="/forward_con/contact" target="_blank" title="联系我们">
                <i class="layui-icon">&#xe606;</i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" title="手机访问">
                <i class="layui-icon">&#xe63b;</i>
            </a>
        </li>
    </ul>
</div>

<!--JQUERY-->
<script src="/js/common/jquery.min.js"></script>
<!--BOOTSTRAP-->
<script src="/bootstrap/js/bootstrap.js"></script>
<!--LAYUI-->
<script src="/layui/layui.js"></script>
<!--my js-->
<script src="/js/welcome/mycourse/mycourse.js"></script>
</body>
</html>