<!DOCTYPE html>
<html>
<head>
    <title>勤成家教网---个人中心</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--LOGO-->
    <link rel="shortcut icon" href="/images/logo/web_logo.ico" />
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" />
    <!--LAYUI-->
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <!--DATETIMEPICKER-->
    <link rel="stylesheet" href="/css/welcome/personal/jquery.datetimepicker.css" />
    <!--FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css' />
    <!--my css-->
    <link rel="stylesheet" href="/css/welcome/personal/style.css" media="all" />
    <link rel="stylesheet" href="/css/welcome/personal/personal.css" />
</head>
<body>

    <!--头部-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid" style="padding-top: 13px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/forward_con/welcome">勤成家教网</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse" style="">
                <ul class="nav navbar-nav">
                    <li style="margin:0 10px;" class="active"><a href="/forward_con/welcome">首页</a></li>
                    <li style="margin:0 10px;"><a href="/forward_con/classify">分类</a></li>
                    <li style="margin:0 10px;"><a href="/forward_con/gabble" target="_blank">论坛中心</a></li>
                    <li style="margin:0 10px;"><a href="/forward_con/gorank">勤成榜</a></li>
                    <li style="margin:0 10px;"><a href="/forward_con/contact">联系我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
    <!-- banner-body -->
    <div class="banner-body custom">
        <div class="container">
            <div class="banner-body-content">
                <div class="col-xs-3 banner-body-left">
                    <div class="logo" title="点击放大我的头像" data-imgsrc="" data-oldimgsrc="">
                        <a href="javascript:void(0);">更改头像</a>
                        <!--<h1><a href="index3.html">Great <span>Taste</span></a></h1>-->
                    </div>
                    <!--侧边栏导航-->
                    <div class="top-nav">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                <nav class="stroke">
                                    <ul class="nav navbar-nav">
                                        <li class="active custom"><a href="javascript:void(0)" data-type="info">基本信息</a></li>
                                        <li class="custom"><a href="javascript:void(0);" data-type="bind" class="hvr-underline-from-left">账号绑定</a></li>
                                        <li class="custom"><a href="javascript:void(0);" data-type="log" class="hvr-underline-from-left">登录记录</a></li>
                                        <li class="custom"><a href="javascript:void(0);" data-type="sign" class="hvr-underline-from-left">签到打卡</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </div>
                <div class="col-xs-9 banner-body-right infobox">
                    <!--基本信息-->
                    <div class="infodiv box">
                        <header>
                            <span>基本信息</span>
                            <a href="javascript:void(0);" class="pull-right">
                                <i class="layui-icon">&#xe642;</i>编辑
                            </a>
                        </header>
                        <hr />
                        <div class="maininfo">
                            <ul>
                                <li>
                                    <label for="username">用户名</label>
                                    <input type="text" name="username" class="username" readonly="readonly" />
                                </li>
                                <li>
                                    <label for="username">昵称</label>
                                    <input type="text" name="nickname" class="nickname" readonly="readonly" />
                                </li>
                                <li>
                                    <label for="username">性别</label>
                                    <input type="text" name="sex" class="sex" readonly="readonly" />
                                </li>
                                <li>
                                    <label for="username">年龄</label>
                                    <input type="text" name="age" class="age" readonly="readonly" />
                                </li>
                                <li>
                                    <label for="info">个人描述</label>
                                    <p class="info" name="info"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--账号绑定-->
                    <div class="binddiv box">
                        <header>
                            <span>账号绑定</span>
                            <a href="javascript:void(0);" class="pull-right">
                                <i class="layui-icon">&#xe607;</i>常见问题FAQ
                            </a>
                        </header>
                        <hr />
                        <div class="mainbind">
                            <ul>
                                <li>
                                    <div class="email">
                                        <a class="imglogo"><i class="layui-icon">&#xe609;</i></a>
                                        <p>电子邮箱
                                            <!--<span>(暂未绑定)</span>-->
                                        </p>
                                        <p class="clearfix">可通过电子邮箱找回密码
                                            <!--<a href="javacript:void(0)" class="pull-right" data-type="email">立刻绑定</a>-->
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="phone tel-phone">
                                        <a class="imglogo"><i class="layui-icon">&#xe63b;</i></a>
                                        <p>手机号码
                                            <!--<span class="ok">(已绑定15573311691)</span>-->
                                        </p>
                                        <p class="clearfix">可通过手机号码找回密码
                                            <!--<a href="javacript:void(0)" class="pull-right more" data-type="phone">解绑</a>-->
                                            <!--<a href="javacript:void(0)" class="pull-right more" data-type="phone">更改</a>-->
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="phone mb-phone">
                                        <a class="imglogo"><i class="layui-icon">&#xe620;</i></a>
                                        <p>密保问题</p>
                                        <p class="clearfix">可通过密保问题找回密码

                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--登录记录-->
                    <div class="logdiv box">
                        <header>
                            <span>登录记录</span>
                        </header>
                        <hr />
                        <p class="msg">只保存用户最近十次登录记录
                            <a href="javascript:void(0);" title="点击关闭提示"><i class="layui-icon">&#x1006;</i></a>
                        </p>
                        <div class="maininfo">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>登录时间</th>
                                        <th>登录城市</th>
                                        <th>IP地址</th>
                                        <th>操作系统</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--签到打卡-->
                    <div class="signdiv box">
                        <header>
                            <span>签到打卡</span>
                            <a href="javascript:void(0);" class="pull-right">
                                <i class="layui-icon">&#xe6b2;</i>今日签到
                            </a>
                        </header>
                        <hr />
                        <div class="signmain">
                            <input type="text" id="datetimepicker3"/>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <!--页脚-->
    <footer class="footer">
        <br />
        <!--网站地图-->
        <div class="webmap">
            <h4>网站地图:</h4>
            <ul class="clearfix">
                <li class="pull-left">
                    <a href="/forward_con/welcome">网站首页</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/classify">家教分类</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/gabble">用户经验总结</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/gorank">勤成家教榜</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/contact">联系我们</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/personal">个人信息</a>
                </li>
            </ul>
        </div>
        <!--友情链接-->
        <div class="link">
            <h4>友情链接:</h4>
            <ul class="clearfix">
                <li class="pull-left">
                    <a href="">CSDN博客</a>
                </li>
                <li class="pull-left">
                    <a href="">前端网</a>
                </li>
                <li class="pull-left">
                    <a href="">慕课网</a>
                </li>
                <li class="pull-left">
                    <a href="">牛客网</a>
                </li>
                <li class="pull-left">
                    <a href="">模板之家</a>
                </li>
                <li class="pull-left">
                    <a href="">Bootstrap</a>
                </li>
                <li class="pull-left">
                    <a href="">LayUI</a>
                </li>
                <li class="pull-left">
                    <a href="">知乎</a>
                </li>
                <li class="pull-left">
                    <a href="">简书</a>
                </li>
                <li class="pull-left">
                    <a href="">脚本之家</a>
                </li>
                <li class="pull-left">
                    <a href="">码农网</a>
                </li>
                <li class="pull-left">
                    <a href="">博客园</a>
                </li>
                <li class="pull-left">
                    <a href="">CSS探索之旅</a>
                </li>
                <li class="pull-left">
                    <a href="">苏文宅博客</a>
                </li>
                <li class="pull-left">
                    <a href="">爱前端网</a>
                </li>
                <li class="pull-left">
                    <a href="">CSS3按钮特效</a>
                </li>
                <li class="pull-left">
                    <a href="">ProcessOn</a>
                </li>
                <li class="pull-left">
                    <a href="">5iweb</a>
                </li>
            </ul>
        </div>
        <!--慕课网抄袭而来的copyright-->
        <div class="copyright">
            <h5>Copyright © 2018 imooc.com All Rights Reserved | 京ICP备 13046642号-2</h5>
        </div>
        <br />
    </footer>

    <!--遮罩层-->
    <div class="zhezhao"></div>

    <!-- 解绑div -->
    <div class="alert-unbind">
        <p>解除绑定验证</p>
        <div class="div-valicode">
            <label for="valicode">输入验证码：</label>
            <input type="text" name="valicode" class="valicode" value="" />
            <a href="javascript: void(0)" class="resend">发送验证码</a>
        </div>
        <div class="div-unbind">
            <button class="btn-unbind">解除绑定</button>
            <button class="btn-reset">暂不解绑</button>
        </div>
        <a href="javascript:void(0)" class="alink-unbind">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
        <p class="err-email">aaa</p>
    </div>

    <!--进行绑定-->
    <div class="alert-bind">
        <p>绑定验证</p>
        <div class="div-valicode">
            <label for="valicode">输入<span class="info">电子邮箱</span>：</label>
            <input type="text" name="valiinfo" class="valiinfo" value="" />
        </div>
        <div class="div-valicode">
            <label for="valicode">输入验证短码：</label>
            <input type="text" name="valicode" class="valicode" value="" />
            <a href="javascript: void(0)" class="resend">发送验证码</a>
        </div>
        <div class="div-unbind">
            <button class="btn-unbind">进行绑定</button>
            <button class="btn-reset">暂不绑定</button>
        </div>
        <a href="javascript:void(0)" class="alink-unbind">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
        <p class="err-email">aaa</p>
        <p class="err-vali">bbb</p>
    </div>

    <!--密保数据的设置/修改-->
    <div class="alert-secretinfo">
        <p class="p-title">设置密保数据</p>
        <div class="secret-one">
            <label for="s-one">问题1：</label>
            <input type="text" class="s-ipt s-one" data-orig="" />
            <p class="err-info">2222</p>
        </div>
        <div class="secret-one">
            <label for="a-one">答案1：</label>
            <input type="text" class="s-ipt a-one" data-orig="" />
            <p class="err-info">2222</p>
        </div>
        <div class="secret-one">
            <label for="s-two">问题2：</label>
            <input type="text" class="s-ipt s-two" data-orig="" />
            <p class="err-info">2222</p>
        </div>
        <div class="secret-one">
            <label for="a-two">答案2：</label>
            <input type="text" class="s-ipt a-two" data-orig="" />
            <p class="err-info">2222</p>
        </div>
        <div class="secret-one">
            <label for="s-three">问题3：</label>
            <input type="text" class="s-ipt s-three" data-orig="" />
            <p class="err-info">2222</p>
        </div>
        <div class="secret-one">
            <label for="a-three">答案3：</label>
            <input type="text" class="s-ipt a-three" data-orig="" />
            <p class="err-info">2222</p>
        </div>
        <div class="btn-group">
            <button class="btn-submit">提交</button>
            <button class="btn-reset">取消</button>
        </div>
        <a href="javascript:void(0)" class="close">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>

    <!--侧边栏-->
    <div class="sliderbar">
        <ul>
            <li>
                <a href="javascript:void(0)" title="返回顶部" class="gotop">
                    <i class="layui-icon">&#xe619;</i>
                </a>
            </li>
            <li>
                <a href="/forward_con/contact" target="_blank" title="联系我们">
                    <i class="layui-icon">&#xe606;</i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="手机访问">
                    <i class="layui-icon">&#xe63b;</i>
                </a>
            </li>
        </ul>
    </div>

    <!--点击头像放大弹出层-->
    <div class="showbig bigface">
        <div class="main">
            <a href="javascript:void(0);" class="close">
                <i class="layui-icon">&#x1006;</i>
            </a>
            <h4>我的头像</h4>
            <img src="" class="bigimg" />
        </div>
    </div>

    <!--更改头像弹出层-->
    <div class="modface bigface">
        <div class="main">
            <a href="javascript:void(0);" class="close">
                <i class="layui-icon">&#x1006;</i>
            </a>
            <h4>更换头像</h4>
            <div class="show" data-imgsrc="null"></div>
            <div class="modlink">
                <ul class="clearfix">
                    <li class="pull-left">
                        <a href="javascript:void(0);" class="rand">我帮你换</a>
                    </li>
                    <li class="pull-left">
                        <a href="javascript:void(0);" class="hand">上传头像</a>
                        <input type="file" accept="image/gif, image/png, image/jpg, image/jpeg" />
                    </li>
                </ul>
            </div>
            <div class="sublink">
                <ul class="clearfix">
                    <li class="pull-left">
                        <a href="javascript:void(0);" class="submit">确定</a>
                    </li>
                    <li class="pull-left">
                        <a href="javascript:void(0);" class="reset">取消</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--编辑个人信息弹出层-->
    <div class="modinfo bigface" id="modinfo">
        <div class="main">
            <a href="javascript:void(0);" class="close">
                <i class="layui-icon">&#x1006;</i>
            </a>
            <header>
                <span>基本信息设置</span>
            </header>
            <hr />
            <div class="maininfo">
                <ul>
                    <li>
                        <label for="username">用户名</label>
                        <input type="text" name="username" class="username" readonly="readonly"/>
                    </li>
                    <li>
                        <label for="username">昵称</label>
                        <input type="text" name="nickname" class="nickname" />
                    </li>
                    <li>
                        <label for="username">性别</label>
                        <label class="sexlabel">
                            <input type="radio" name="sex" class="sex male" value="1" />男
                        </label>
                        <label class="sexlabel">
                            <input type="radio" name="sex" class="sex female" value="0" />女
                        </label>
                    </li>
                    <li>
                        <label for="username">年龄</label>
                        <input type="number" name="age" class="age" />
                    </li>
                    <li>
                        <label for="info">个人描述</label>
                        <p class="info" name="info" contenteditable="true"></p>
                    </li>
                </ul>
            </div>
            <div class="sublink">
                <ul class="clearfix">
                    <li class="pull-left">
                        <a href="javascript:void(0);" class="submit">提交</a>
                    </li>
                    <li class="pull-left">
                        <a href="javascript:void(0);" class="reset">取消</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--签到打卡弹出层-->
    <div class="modinfo usersign bigface" id="usersign">
        <div class="main">
            <a href="javascript:void(0);" class="close">
                <i class="layui-icon">&#x1006;</i>
            </a>
            <header>
                <span>今日打卡</span>
            </header>
            <hr />
            <div class="maininfo">
                <img src="/images/user/face/bg.png" />
            </div>
            <div class="sublink">
                <ul class="clearfix">
                    <li class="pull-left">
                        <a href="javascript:void(0);" class="submit">点击打卡</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--已签到弹出层-->
    <div class="signed">
        <p>今日已签到</p>
    </div>

    <!--JQUERY-->
    <script src="/js/common/jquery.min.js"></script>
    <!--DATETIMEPICKER-->
    <script src="/js/welcome/personal/jquery.datetimepicker.full.js"></script>
    <!--BOOTSTRAP-->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <!--LAYUI-->
    <script src="/layui/layui.js"></script>
    <!--my js-->
    <script src="/js/welcome/personal/personal.js"></script>
</body>
</html>