<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>勤成家教网---联系我们</title>
    <link rel="icon" href="/images/logo/web_logo.ico" type="images/x-icon" />

    <!--bootstrap css-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" />

    <!--layui css-->
    <link rel="stylesheet" href="/layui/css/layui.css" />
</head>
<body>
    <!--头部-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid" style="padding-top: 13px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/forward_con/welcome">勤成家教网</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse" style="">
                <ul class="nav navbar-nav">
                    <li style="margin:0 10px;"><a href="/forward_con/welcome">首页</a></li>
                    <li style="margin:0 10px;"><a href="/forward_con/classify">分类</a></li>
                    <li style="margin:0 10px;"><a href="/forward_con/gabble" target="_blank">七嘴八舌</a></li>
                    <li style="margin:0 10px;" class="active"><a href="/forward_con/gorank">勤成榜</a></li>
                    <li style="margin:0 10px;"><a href="/forward_con/contact">联系我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>

    <!--侧边栏-->
    <div class="sliderbar">
        <ul>
            <li>
                <a href="javascript:void(0)" title="返回顶部" class="gotop">
                    <i class="layui-icon">&#xe619;</i>
                </a>
            </li>
            <li>
                <a href="/forward_con/contact" target="_blank" title="联系我们">
                    <i class="layui-icon">&#xe606;</i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="手机访问">
                    <i class="layui-icon">&#xe63b;</i>
                </a>
            </li>
        </ul>
    </div>

    <style>
        .sliderbar{
            position: fixed;
            right: 2%;
            bottom: 25%;
            z-index: 99;
        }
        .sliderbar ul li{
            list-style-type: none;
            margin-bottom: 30%;
        }
        .sliderbar ul li a{
            display: inline-block;
            /*width: 200%;*/
            /*height: 35px;*/
            border: 1px solid black;
            text-decoration: none;
            background-color: #80808030;
            border-color: #0000004d;
        }
        .sliderbar ul li a.gotop{
            display: none;
        }
        .sliderbar ul li a:hover{
            text-decoration: none;
        }
        .sliderbar ul li a i{
            font-size: 35px;
            color: #808080a3;
            font-weight: bold;
        }
    </style>

        <!--勤成榜-->
        <div class="section" style="background-color: #eee;">
            <div class="div-cls-rank clearfix" style="position:relative;top: 65px;">
                <div class="rank-bg" style="height: 100px;background: url(/images/welcome/rank/rank_logo.jpg);background-repeat: no-repeat;background-size: cover;">
                </div>
                <ul style="margin-left: 3%;" class="clearfix">
                    <!--最赞神评榜-->
                    <li class="pull-left" style="margin: 4% 6%; width: 20%; background-color: white;">
                        <div class="rank" data-type="command">
                            <header style="margin-bottom: 4%; padding-top: 4%;">
                                <h1 style="font-size: 16px; font-weight: bold;">最赞神评榜<i class="glyphicon glyphicon-fire" style="opacity: 0;"></i></h1>
                            </header>
                            <nav class="clearfix" style="border:1px solid #80808047; border-left: none; border-right: none;">
                                <ul>
                                    <li class="pull-left cli" style="width: 33%;height: 42px;line-height: 42px; text-align: center;">
                                        <a data-mark="day" href="javascript:void(0);" style="display: inline-block; width:100%;">日榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 34%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="week" href="javascript:void(0);" style="display: inline-block; width:100%;">周榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 33%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="total" href="javascript:void(0);" style="display: inline-block; width:100%;">总榜</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="rank-show">
                                <table style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <td style="">排行</td>
                                            <td style="">用户</td>
                                            <td style="">点赞</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style='color: red;'>1</td>
                                            <td style="">用户111</td>
                                            <td style="">111</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #00bc9b;">2</td>
                                            <td style="">用户222</td>
                                            <td style="">222</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #a4b2ba;">3</td>
                                            <td style="">用户222</td>
                                            <td style="">222</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #d4d4d4;">4</td>
                                            <td style="">用户222</td>
                                            <td style="">222</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <footer style="height: 36px; line-height: 36px; text-align: center;">
                                <a href="javascript:void(0);" style="width: 100%; display: inline-block; background: #d0d0d0;">查看全部排行<i class="layui-icon">&#xe602;</i></a>
                            </footer>
                        </div>
                    </li>
                    <!--最火家教榜-->
                    <li class="pull-left" style="margin: 4% 6%; width: 20%; background-color: white;">
                        <div class="rank" data-type="tutor">
                            <header style="margin-bottom: 4%; padding-top: 4%;">
                                <h1 style="font-size: 16px; font-weight: bold;">最火家教榜<i class="glyphicon glyphicon-fire"></i></h1>
                            </header>
                            <nav class="clearfix" style="border:1px solid #80808047; border-left: none; border-right: none;">
                                <ul>
                                    <li class="pull-left cli" style="width: 33%;height: 42px;line-height: 42px; text-align: center;">
                                        <a data-mark="day" href="javascript:void(0);" style="display: inline-block; width:100%;">日榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 34%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="week" href="javascript:void(0);" style="display: inline-block; width:100%;">周榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 33%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="total" href="javascript:void(0);" style="display: inline-block; width:100%;">总榜</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="rank-show">
                                <table style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <td style="">排行</td>
                                        <td style="">用户</td>
                                        <td style="">点赞</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style='color: red;'>1</td>
                                        <td style="">用户111</td>
                                        <td style="">111</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #00bc9b;">2</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #a4b2ba;">3</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #d4d4d4;">4</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <footer style="height: 36px; line-height: 36px; text-align: center;">
                                <a href="javascript: void(0);" style="width: 100%; display: inline-block; background: #d0d0d0;">查看全部排行<i class="layui-icon">&#xe602;</i></a>
                            </footer>
                        </div>
                    </li>
                    <!--最勤打卡榜-->
                    <li class="pull-left" style="margin: 4% 6%; width: 20%; background-color: white;"   >
                        <div class="rank" data-type="sign">
                            <header style="margin-bottom: 4%; padding-top: 4%;">
                                <h1 style="font-size: 16px; font-weight: bold;">最勤打卡榜<i class="glyphicon glyphicon-fire" style="opacity: 0;"></i></h1>
                            </header>
                            <nav class="clearfix" style="border:1px solid #80808047; border-left: none; border-right: none;">
                                <ul>
                                    <li class="pull-left cli" style="width: 33%;height: 42px;line-height: 42px; text-align: center;">
                                        <a data-mark="day" href="javascript:void(0);" style="display: inline-block; width:100%;">日榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 34%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="week" href="javascript:void(0);" style="display: inline-block; width:100%;">周榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 33%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="total" href="javascript:void(0);" style="display: inline-block; width:100%;">总榜</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="rank-show">
                                <table style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <td style="">排行</td>
                                        <td style="">用户</td>
                                        <td style="">时间</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <footer style="height: 36px; line-height: 36px; text-align: center;">
                                <a href="javascript:void(0);" target="_blank" style="width: 100%; display: inline-block; background: #d0d0d0;">查看全部排行<i class="layui-icon">&#xe602;</i></a>
                            </footer>
                        </div>
                    </li>
                    <!--最美名文榜-->
                    <li class="pull-left" style="margin: 4% 6%; width: 20%; background-color: white;">
                        <div class="rank" data-type="blog">
                            <header style="margin-bottom: 4%; padding-top: 4%;">
                                <h1 style="font-size: 16px; font-weight: bold;">最美名文榜<i class="glyphicon glyphicon-fire" style="opacity: 0;"></i></h1>
                            </header>
                            <nav class="clearfix" style="border:1px solid #80808047; border-left: none; border-right: none;">
                                <ul>
                                    <li class="pull-left cli" style="width: 33%;height: 42px;line-height: 42px; text-align: center;">
                                        <a data-mark="day" href="javascript:void(0);" style="display: inline-block; width:100%;">日榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 34%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="week" href="javascript:void(0);" style="display: inline-block; width:100%;">周榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 33%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="total" href="javascript:void(0);" style="display: inline-block; width:100%;">总榜</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="rank-show">
                                <table style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <td style="">排行</td>
                                        <td style="">用户</td>
                                        <td style="">点赞</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style='color: red;'>1</td>
                                        <td style="">用户111</td>
                                        <td style="">111</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #00bc9b;">2</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #a4b2ba;">3</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #d4d4d4;">4</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <footer style="height: 36px; line-height: 36px; text-align: center;">
                                <a href="javascript: void(0);" style="width: 100%; display: inline-block; background: #d0d0d0;">查看全部排行<i class="layui-icon">&#xe602;</i></a>
                            </footer>
                        </div>
                    </li>
                    <!--最水评友榜-->
                    <li class="pull-left" style="margin: 4% 6%; width: 20%; background-color: white;">
                        <div class="rank" data-type="user">
                            <header style="margin-bottom: 4%; padding-top: 4%;">
                                <h1 style="font-size: 16px; font-weight: bold;">最水评友榜<i class="glyphicon glyphicon-fire"></i></h1>
                            </header>
                            <nav class="clearfix" style="border:1px solid #80808047; border-left: none; border-right: none;">
                                <ul>
                                    <li class="pull-left cli" style="width: 33%;height: 42px;line-height: 42px; text-align: center;">
                                        <a data-mark="day" href="javascript:void(0);" style="display: inline-block; width:100%;">日榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 34%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="week" href="javascript:void(0);" style="display: inline-block; width:100%;">周榜</a>
                                    </li>
                                    <li class="pull-left" style="width: 33%;height: 42px; line-height: 42px; text-align: center;">
                                        <a data-mark="total" href="javascript:void(0);" style="display: inline-block; width:100%;">总榜</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="rank-show">
                                <table style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <td style="">排行</td>
                                        <td style="">用户</td>
                                        <td style="">点赞</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style='color: red;'>1</td>
                                        <td style="">用户111</td>
                                        <td style="">111</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #00bc9b;">2</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #a4b2ba;">3</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #d4d4d4;">4</td>
                                        <td style="">用户222</td>
                                        <td style="">222</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <footer style="height: 36px; line-height: 36px; text-align: center;">
                                <a href="javascript: void(0);" style="width: 100%; display: inline-block; background: #d0d0d0;">查看全部排行<i class="layui-icon">&#xe602;</i></a>
                            </footer>
                        </div>
                    </li>
                </ul>
            </div>
            <br />
            <Br />
            <Br />
            <Br />
        </div>

    <!--页脚-->
    <footer class="footer">
        <br />
        <!--网站地图-->
        <div class="webmap">
            <h4>网站地图:</h4>
            <ul class="clearfix">
                <li class="pull-left">
                    <a href="/forward_con/welcome">网站首页</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/classify">家教分类</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/gabble">用户经验总结</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/gorank">勤成家教榜</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/contact">联系我们</a>
                </li>
                <li class="pull-left">
                    <a href="/forward_con/personal">个人信息</a>
                </li>
            </ul>
        </div>
        <!--友情链接-->
        <div class="link">
            <h4>友情链接:</h4>
            <ul class="clearfix">
                <li class="pull-left">
                    <a href="">CSDN博客</a>
                </li>
                <li class="pull-left">
                    <a href="">前端网</a>
                </li>
                <li class="pull-left">
                    <a href="">慕课网</a>
                </li>
                <li class="pull-left">
                    <a href="">牛客网</a>
                </li>
                <li class="pull-left">
                    <a href="">模板之家</a>
                </li>
                <li class="pull-left">
                    <a href="">Bootstrap</a>
                </li>
                <li class="pull-left">
                    <a href="">LayUI</a>
                </li>
                <li class="pull-left">
                    <a href="">知乎</a>
                </li>
                <li class="pull-left">
                    <a href="">简书</a>
                </li>
                <li class="pull-left">
                    <a href="">脚本之家</a>
                </li>
                <li class="pull-left">
                    <a href="">码农网</a>
                </li>
                <li class="pull-left">
                    <a href="">博客园</a>
                </li>
                <li class="pull-left">
                    <a href="">CSS探索之旅</a>
                </li>
                <li class="pull-left">
                    <a href="">苏文宅博客</a>
                </li>
                <li class="pull-left">
                    <a href="">爱前端网</a>
                </li>
                <li class="pull-left">
                    <a href="">CSS3按钮特效</a>
                </li>
                <li class="pull-left">
                    <a href="">ProcessOn</a>
                </li>
                <li class="pull-left">
                    <a href="">5iweb</a>
                </li>
            </ul>
        </div>
        <!--慕课网抄袭而来的copyright-->
        <div class="copyright">
            <h5>Copyright © 2018 imooc.com All Rights Reserved | 京ICP备 13046642号-2</h5>
        </div>
        <br />
    </footer>

    <style>
        nav a .mcount{color: red; margin-left: 2px;}

        footer.footer{background-color: #000000; width: 100%;}
        footer.footer .webmap, footer.footer .link, footer.footer .copyright{margin: 0 auto; width: 80%;margin-bottom: 1%;}
        footer.footer h4{color: white;}
        footer.footer ul{margin-left: 1%;}
        footer.footer ul li{margin: 1%;}
        footer.footer ul li a{color: #c8cdd2ad; font-size: 14px; text-decoration: none;}
        footer.footer ul li a:hover{color: #c8cdd2; text-decoration: none;}
        footer.footer .copyright{margin-top: -1%;}
        footer.footer .copyright h5{color: #787d82c7;}
    </style>

    <style>
        .div-cls-rank nav li.cli{background-color: #00bc9b;}
        .div-cls-rank nav li.cli a{color: white;}
        .div-cls-rank nav a:hover{text-decoration: none;}
        .div-cls-rank header h1:before{background-color: red;content: "";width: 7px;height: 7px;display: inline-block; margin-right: 2%; margin-left: 2%; margin-bottom: 1%; vertical-align: middle;}

        .div-cls-rank .rank{height: 346.28px;}
        .div-cls-rank .rank-show{height: 228px;}

        .div-cls-rank .rank-show tr{border:1px dashed #80808047; border-left: none; border-right: none;}
        .div-cls-rank .rank-show td{height: 45px;line-height: 45px; text-align: center;}
        .div-cls-rank footer a:hover{text-decoration: none;color: #25bb9b;}
        .div-cls-rank footer a:hover i{text-decoration: none;}

        i.glyphicon-fire{color: red;}
    </style>
    <!--jquery-->
    <script src="/js/custom/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <!--layui-->
    <script src="/layui/layui.js"></script>

    <!--My JS-->
    <script src="/js/welcome/rank.js"></script>
</body>
</html>